{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="galleries-page">
            {{ content }}

            {% for image in meta["Images"] %}
                <a href="{{ base_url }}{{ image.url }}" target="_blank">
                    <picture>
                        <source media="(min-width: 768px)" srcset="{{ base_url }}{{ image.url }}?w=260&h=260&crop-to-fit">
                        <source media="(min-width: 376px)" srcset="{{ base_url }}{{ image.url }}?w=250&h=250&crop-to-fit">
                        <img src="{{ base_url }}{{ image.url}}?w=150&h=150&crop-to-fit" alt="{{ image.alt }}">

                    </picture>
                
                </a>
            {% endfor %}


            <div class="embed-container">
                <iframe src=https://www.youtube.com/embed/-pWOlXpR_lI?si=smW8jfvQsIvL5nRc" frameborder="0" allowfullscreen></iframe>
            </div>
  
        </div>

        


    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>